In [23]:
#importing the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
#importing the dataset
myData=pd.read_csv('house_data.csv')
myData

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Location,Price
0,1340,3,1.00,3,1955,Bangalore,221900.0
1,1690,3,2.25,3,1951,Bangalore,538000.0
2,2720,2,1.00,3,1933,Bangalore,180000.0
3,1360,4,3.00,5,1965,Bangalore,604000.0
4,1800,3,2.00,3,1987,Bangalore,510000.0
5,4760,4,4.50,3,2001,Bangalore,1230000.0
6,2238,3,2.25,3,1995,Bangalore,257500.0
7,1650,3,1.50,3,1963,Bangalore,291850.0
8,1780,3,1.00,3,1960,Bangalore,229500.0
9,2390,3,2.50,3,2003,Bangalore,323000.0
10,2210,3,2.50,3,1965,Bangalore,662500.0
11,1330,2,1.00,4,1942,Bangalore,468000.0
12,1780,3,1.00,4,1927,Bangalore,310000.0
13,1370,3,1.75,4,1977,Bangalore,400000.0
14,1360,5,2.00,3,1900,Bangalore,530000.0
15,2140,4,3.00,3,1979,Bangalore,650000.0
16,1890,3,2.00,3,1994,Bangalore,395000.0
17,1610,4,1.00,4,1916,Bangalore,485000.0
18,1060,2,1.00,4,1921,Bangalore,189000.0
19,1280,3,1.00,4,1969,Bangalore,230000.0
20,1400,4,1.75,4,1947,Bangalore,385000.0
21,4110,3,2.75,3,1968,Bangalore,2000000.0
22,2240,5,2.50,3,1995,Mumbai,285000.0
23,1220,2,1.50,3,1985,Mumbai,252700.0
24,2200,3,2.25,4,1985,Mumbai,329000.0
25,1030,3,2.00,5,1941,Mumbai,233000.0
26,1760,3,1.75,3,1915,Mumbai,937000.0
27,1860,3,1.00,5,1909,Mumbai,667000.0
28,1520,3,1.75,3,1948,Mumbai,438000.0
29,2630,4,2.50,3,2005,Mumbai,719000.0
...,...,...,...,...,...,...,...
1169,1370,4,2.00,5,1963,lucknow,274700.0
1170,1510,4,2.50,5,1910,lucknow,900000.0
1171,3470,4,4.00,3,2001,lucknow,1150000.0
1172,2350,3,2.50,3,2008,lucknow,605000.0
1173,1970,3,2.50,3,2004,lucknow,359000.0
1174,1810,3,1.75,3,1951,lucknow,850000.0
1175,1550,3,2.00,3,2002,lucknow,505000.0
1176,2790,3,2.50,3,1990,lucknow,565000.0
1177,1550,2,1.75,4,1955,lucknow,585000.0
1178,1920,4,3.25,3,1990,lucknow,328000.0
1179,2420,4,2.75,3,1957,lucknow,749950.0
1180,3240,4,2.50,3,2006,lucknow,826000.0
1181,1710,3,1.00,4,1977,lucknow,535000.0
1182,2880,4,2.50,4,1991,lucknow,925000.0
1183,1650,3,3.50,3,2001,lucknow,875000.0
1184,3030,4,2.25,5,1976,lucknow,902000.0
1185,1840,3,1.00,3,1951,lucknow,423000.0
1186,2080,3,1.00,4,1968,lucknow,235000.0
1187,2234,2,2.00,4,1980,lucknow,545000.0
1188,1270,2,1.00,3,1961,lucknow,343000.0
1189,1900,3,2.50,3,2002,lucknow,334950.0
1190,1790,3,1.75,3,1956,lucknow,405000.0
1191,1440,4,1.00,3,1959,lucknow,220000.0
1192,960,2,1.00,3,1947,lucknow,173000.0
1193,1710,3,1.00,3,1906,lucknow,655000.0
1194,890,2,1.00,3,1924,lucknow,406000.0
1195,2360,6,2.50,3,1961,lucknow,632000.0
1196,1630,5,2.75,3,1990,lucknow,357000.0
1197,1200,3,1.75,3,1964,lucknow,361000.0
1198,1160,2,1.00,3,1948,lucknow,277000.0

In [25]:
#importing labelEncode and onehotencoder
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [26]:
#lableling the data set with the help of labelencoder
myDatalabel=myData
#myDatalabel
myDatalabel.Location=labelencoder.fit_transform(myDatalabel.Location)
myDatalabel

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Location,Price
0,1340,3,1.00,3,1955,0,221900.0
1,1690,3,2.25,3,1951,0,538000.0
2,2720,2,1.00,3,1933,0,180000.0
3,1360,4,3.00,5,1965,0,604000.0
4,1800,3,2.00,3,1987,0,510000.0
5,4760,4,4.50,3,2001,0,1230000.0
6,2238,3,2.25,3,1995,0,257500.0
7,1650,3,1.50,3,1963,0,291850.0
8,1780,3,1.00,3,1960,0,229500.0
9,2390,3,2.50,3,2003,0,323000.0
10,2210,3,2.50,3,1965,0,662500.0
11,1330,2,1.00,4,1942,0,468000.0
12,1780,3,1.00,4,1927,0,310000.0
13,1370,3,1.75,4,1977,0,400000.0
14,1360,5,2.00,3,1900,0,530000.0
15,2140,4,3.00,3,1979,0,650000.0
16,1890,3,2.00,3,1994,0,395000.0
17,1610,4,1.00,4,1916,0,485000.0
18,1060,2,1.00,4,1921,0,189000.0
19,1280,3,1.00,4,1969,0,230000.0
20,1400,4,1.75,4,1947,0,385000.0
21,4110,3,2.75,3,1968,0,2000000.0
22,2240,5,2.50,3,1995,3,285000.0
23,1220,2,1.50,3,1985,3,252700.0
24,2200,3,2.25,4,1985,3,329000.0
25,1030,3,2.00,5,1941,3,233000.0
26,1760,3,1.75,3,1915,3,937000.0
27,1860,3,1.00,5,1909,3,667000.0
28,1520,3,1.75,3,1948,3,438000.0
29,2630,4,2.50,3,2005,3,719000.0
...,...,...,...,...,...,...,...
1169,1370,4,2.00,5,1963,6,274700.0
1170,1510,4,2.50,5,1910,6,900000.0
1171,3470,4,4.00,3,2001,6,1150000.0
1172,2350,3,2.50,3,2008,6,605000.0
1173,1970,3,2.50,3,2004,6,359000.0
1174,1810,3,1.75,3,1951,6,850000.0
1175,1550,3,2.00,3,2002,6,505000.0
1176,2790,3,2.50,3,1990,6,565000.0
1177,1550,2,1.75,4,1955,6,585000.0
1178,1920,4,3.25,3,1990,6,328000.0
1179,2420,4,2.75,3,1957,6,749950.0
1180,3240,4,2.50,3,2006,6,826000.0
1181,1710,3,1.00,4,1977,6,535000.0
1182,2880,4,2.50,4,1991,6,925000.0
1183,1650,3,3.50,3,2001,6,875000.0
1184,3030,4,2.25,5,1976,6,902000.0
1185,1840,3,1.00,3,1951,6,423000.0
1186,2080,3,1.00,4,1968,6,235000.0
1187,2234,2,2.00,4,1980,6,545000.0
1188,1270,2,1.00,3,1961,6,343000.0
1189,1900,3,2.50,3,2002,6,334950.0
1190,1790,3,1.75,3,1956,6,405000.0
1191,1440,4,1.00,3,1959,6,220000.0
1192,960,2,1.00,3,1947,6,173000.0
1193,1710,3,1.00,3,1906,6,655000.0
1194,890,2,1.00,3,1924,6,406000.0
1195,2360,6,2.50,3,1961,6,632000.0
1196,1630,5,2.75,3,1990,6,357000.0
1197,1200,3,1.75,3,1964,6,361000.0
1198,1160,2,1.00,3,1948,6,277000.0

In [33]:
#assining the x variable
x=myDatalabel[['Living_Space(sqft)','No_Of_Bedrooms','No_Of_Bathrooms','Condition(on scale of 5)',
               'Year_Build','Location']].values
x

array([[1.340e+03, 3.000e+00, 1.000e+00, 3.000e+00, 1.955e+03, 0.000e+00],
       [1.690e+03, 3.000e+00, 2.250e+00, 3.000e+00, 1.951e+03, 0.000e+00],
       [2.720e+03, 2.000e+00, 1.000e+00, 3.000e+00, 1.933e+03, 0.000e+00],
       ...,
       [1.630e+03, 5.000e+00, 2.750e+00, 3.000e+00, 1.990e+03, 6.000e+00],
       [1.200e+03, 3.000e+00, 1.750e+00, 3.000e+00, 1.964e+03, 6.000e+00],
       [1.160e+03, 2.000e+00, 1.000e+00, 3.000e+00, 1.948e+03, 6.000e+00]])

In [34]:
#assigning the y variable
y=myDatalabel.Price
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
5       1230000.0
6        257500.0
7        291850.0
8        229500.0
9        323000.0
10       662500.0
11       468000.0
12       310000.0
13       400000.0
14       530000.0
15       650000.0
16       395000.0
17       485000.0
18       189000.0
19       230000.0
20       385000.0
21      2000000.0
22       285000.0
23       252700.0
24       329000.0
25       233000.0
26       937000.0
27       667000.0
28       438000.0
29       719000.0
          ...
1169     274700.0
1170     900000.0
1171    1150000.0
1172     605000.0
1173     359000.0
1174     850000.0
1175     505000.0
1176     565000.0
1177     585000.0
1178     328000.0
1179     749950.0
1180     826000.0
1181     535000.0
1182     925000.0
1183     875000.0
1184     902000.0
1185     423000.0
1186     235000.0
1187     545000.0
1188     343000.0
1189     334950.0
1190     405000.0
1191     220000.0
1192     173000.0
1193     655000.0
1194     406000.0
1195     632000.0
1196     357000.0
1197     361000.0
1198     277000.0
Name: Price, Length: 1199, dtype: float64

In [35]:
#importing onehotcoder
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(categorical_features=[5])

In [36]:
x=ohe.fit_transform(x).toarray()
x

array([[1.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.955e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 2.250e+00, 3.000e+00,
        1.951e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.933e+03],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.750e+00, 3.000e+00,
        1.990e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.750e+00, 3.000e+00,
        1.964e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.948e+03]])

In [37]:
x=x[:,1:]
x

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.955e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.250e+00, 3.000e+00,
        1.951e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.933e+03],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.750e+00, 3.000e+00,
        1.990e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.750e+00, 3.000e+00,
        1.964e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.948e+03]])

In [38]:
#importing the liner regression model
from sklearn.linear_model import LinearRegression
createModel=LinearRegression()

In [39]:
#calculating the linear regression
createModel.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [42]:
#predicting the price of house
createModel.predict([[0,0,0,0,1,0,2000,2,3,2,2000]])

array([580401.41898544])

In [41]:
#checking how perfect is our model
createModel.score(x,y)

0.4919204347965042